[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = git@github.com:yegappan/mru.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/textobj-css"]
	path = bundle/textobj-css
	url = https://github.com/jasonlong/vim-textobj-css.git
[submodule "bundle/bundle/syntastic"]
	path = bundle/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = git@github.com:mattn/webapi-vim.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/autopairs"]
	path = bundle/autopairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = git@github.com:qpkorr/vim-bufkill.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git@github.com:rking/ag.vim.git
